.navContainer{
    margin-top: 12rem;
    display: flex;
    width: 40rem;
    justify-content: space-evenly;
}

.navContainer div {
    display: flex;
    width: 70%;
    flex-wrap: nowrap;
    flex-grow: 1;
}

.navContainer button{
   
        border:none;
          background-color: #be0b3e;
          width: 8rem;
          color: #fff;
          height: 2rem;
          border-radius: 10%;
          font-size: 1rem;
          font-weight: 500;
          transition: 0.2s all;
          cursor: pointer;
          margin: 0.4rem;
}
.navContainer button:active{
    scale: 0.90;
  }