
.navContainer{
    position: fixed;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    /* border-bottom: 3rem solid rgb(233, 233, 233); */
    width: 100%;
    height: 11rem;
    z-index: 100;
    background-image: url("../../media/images/fondo.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    /* background-color: black; */
}   

.navContainer_p{
    color:#fff;
    font-size: 1rem;
    font-weight: 400;
    margin-right: 0.2rem;
    border:none;
    background-color: #c44569;
    width: 12rem;
    color: #fff;
    height: 3rem;
    border-radius: 1rem;
    text-align: center;
    user-select: none;
    margin: 1rem;
    padding-top:0.6rem;
    /* font-family: 'Playfair Display SC'; */
}
.navContainer button{
    border:none;
    background-color: #c44569;
    width: 8rem;
    color: #fff;
    height: 3rem;
    border-radius: 1rem;
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
    transition: 0.2s all;
    cursor: pointer;
    margin: 0.4rem;
}

.navContainer button:active{
    scale: 0.90
}

.navContainer_searchBar{
    display: flex;
    width: 100%;

}
.navContainer_searchBar_img{
    justify-self: flex-start;
    margin-left: 1rem;
}
.navContainer_searchBar_img img{
    justify-self: flex-start;
    margin-left: 1rem;
    animation: translate 0.5s linear infinite ,shrink 1s linear infinite;
    width: 10rem;
    margin-left: 0;
}
@keyframes shrink {
    50%{transform: scale(0.98);}
}
@keyframes translate{
    0% {transform : rotate(5deg)}
    50% {transform: rotate(-5deg)}
    100%{transform: rotate(5deg);}
    /* 100% {transform: rotate(30deg);} */
}

.optionsContainer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.navContainer_link {
    align-self: center;
}

.navContainer_options{
    display: flex;
    align-content: center;
    height: 3rem;
}

.navContainer_options select{
    height: 2rem;
    align-self: center;
}
.navContainer_options p{
    align-self: center;
}

.navContainer_options select{
   color:black;
   border:2px solid #c44569;
   width: 8rem;
}
